<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Users List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-4">

        <h2>Registered Users</h2>

        <a href="/dashboard" class="btn btn-dark">

            <i class="fa-solid fa-arrow-left"></i>

            Back to Dashboard

        </a>

    </div>

    <table class="table table-bordered table-hover shadow">

        <thead class="table-dark">

            <tr>

                <th>ID</th>

                <th>Username</th>

                <th>Role</th>

            </tr>

        </thead>

        <tbody>

        {% if users %}

            {% for user in users %}

            <tr>

                <td>{{ user.id }}</td>

                <td>{{ user.username }}</td>

                <td>

                    {% if user.role == "admin" %}

                        <span class="badge bg-danger">

                            Admin

                        </span>

                    {% else %}

                        <span class="badge bg-success">

                            User

                        </span>

                    {% endif %}

                </td>

            </tr>

            {% endfor %}

        {% else %}

            <tr>

                <td colspan="3" class="text-center">

                    No Users Found

                </td>

            </tr>

        {% endif %}

        </tbody>

    </table>

</div>

</body>

</html>